.Rproj.user
.Rhistory
.RData
.Ruserdata
ggESDA_Jiang&Wu_20210915.bbl
ggESDA_Jiang&Wu_20210915.aux
ggESDA_Jiang&Wu_20210915.blg
ggESDA_Jiang&Wu_20210915.log
ggESDA_Jiang&Wu_20210915.out
test.rnw
test.tex
test_123.pdf
